oracle.opatch.fullpath=/mnt/refresh/oracle_patch/p6880880_190000_LINUX.zip
oracle.patch.fullpath=/mnt/refresh/oracle_patch/p36233126_190000_Linux-x86-64_tstz43.zip
oracle.patch.directory=36233126 # root directory contained into the zip patch file = folder that contains the whole patch and also contains README.html
##
# Optional properties:
#   You can set these options to be notified when the patch has finished being applied
##
mail.smtp_host= # SMTP host
mail.mail_to=nfourniol@gmail.com
mail.mail_from=no-reply@gmail.com
teams.workflow.tecinfra= # URL Workflow